<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" defaultHref="home">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="assets/img/livro.jpg" />
    <ion-card-header>
    <ion-card-title>Cadastro efetuado!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Sua review foi cadastrada com sucesso. Ela será muito útil!
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" fill="outline" (click)="retornarTela()">Retornar</ion-button>
</ion-content>
